<!DOCTYPE html>
<html>
<head>
	<title>FollowUs - Follow Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="follow.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <!-- Brand teste-->
      <a class="navbar-brand" href="#">FollowUs</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">WhatsApp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Github</a>
          </li> 
        </ul>
      </div>
    </div>

</nav>
<div class="container">
        <div class="row mb-5">
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/724/72490.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://avatarfiles.alphacoders.com/724/72490.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Quem devo seguir?</h4>
                        <div class="card-text">
                            Informe a url, endereço ou nome de usuário no campo abaixo.
                        </div>
                    </div>
                    <div class="card-footer form-inline">
                    	<div class="form-group">
	                    	<input type="text" placeholder="instagram.com/felipeboso ou felipeboso" class="form-control form-control-sm col-md-8 ml-0 mr-2">
	                    	<button class="btn btn-info float-right btn-sm btn-yellow">Follow</button>
	                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/724/72490.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://avatarfiles.alphacoders.com/724/72490.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Floyd M. Jr.</h4>
                        <div class="card-text">
                            Floyd M. Jr., nascido Floyd Joy Sinclair, é um ex-boxeador norte-americano
                        </div>
                    </div>
                    <div class="card-footer">
                        <small><a href="#">Show followers</a></small>
                        <button class="btn btn-info float-right btn-sm">Unfollow</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/724/72490.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://avatarfiles.alphacoders.com/724/72490.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Muhammad Ali</h4>
                        <div class="card-text">
                            Muhammad Ali-Haj, eleito "O Desportista do Século" pela revista Sports Illustrated
                        </div>
                    </div>
                    <div class="card-footer">
                        <small><a href="#">Show followers</a></small>
                        <button class="btn btn-info float-right btn-sm">Unfollow</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card card-inverse card-info">
                    <img class="card-img-top" src="https://avatarfiles.alphacoders.com/724/72490.jpg">
                    <div class="card-block">
                        <figure class="profile profile-inline">
                            <img src="https://avatarfiles.alphacoders.com/724/72490.jpg" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title">Mike Tyson</h4>
                        <div class="card-text">
                            Michael Gerald Tyson ou Malik Abdul Aziz, mais conhecido por Mike Tyson
                        </div>
                    </div>
                    <div class="card-footer">
                        <small><a href="#">Show followers</a></small>
                        <button class="btn btn-info float-right btn-sm">Unfollow</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>